# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Entorno — NUNCA commitear
.env

# Media (imágenes subidas)
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
